* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    user-select: none;
    font-family: Lora;
}

header, main {
    max-width: 1000px;
    margin: 0px auto;
}

header {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 880px;
    height: 130px; 
    margin-top: 10px;
    padding: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

header #sliders {
    max-width: 400px;
}

header .slidewrapper {
    padding: 10px;
}

.ui-slider {
    width: 200px;
    float: right;
    margin-left: 20px;
    margin-top: 3px;
}

.ui-slider-handle {
    border-radius: 10px;
}

main {
    padding-top: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* visualization part */

.axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: geometricPrecision;
}

.axis text {
    text-shadow: 0 1px 0 #fff;
}

svg {
    display: block;
    font: 10px sans-serif;
    margin: 0px;
}

.tick{
    display: none;
}

.foreground path {
    fill: none;
    stroke: #466db4;
    stroke-opacity: 1;
    shape-rendering: geometricPrecision;
}