* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    user-select: none;
}

#wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 0px;
    max-width: 1000px;
    margin: 0px auto;
}

/* visualization part */

.axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: geometricPrecision;
}

.axis text {
    text-shadow: 0 1px 0 #fff;
}

svg {
    display: block;
    font: 10px sans-serif;
    margin: 0px;
}

.tick{
    display: none;
}

.foreground path {
    fill: none;
    stroke: #466db4;
    stroke-opacity: 1;
    shape-rendering: geometricPrecision;
}